body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar:hover {
  border-bottom: 1px solid black;
  transform: scale(1.03);
}

.navbar:active {
  transform: scale(0.9);
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card:active {
  transform: scale(0.9);
}

.about {
  transition: transform 0.3s ease-in-out;
}

.about:hover {
  transform: scale(1.03);
}

.insnap-fieldrow {
  cursor: pointer;
}

.insnap-fieldrow:hover {
  background-color: rgb(17, 63, 104);
}

button:disabled.card:hover,
button:disabled.card:active {
  transform: none !important;
}

button:disabled.card {
  cursor: not-allowed;
}